
"*"{
 box-sizing: border-box;
}

body{ 
font-size: 16px;
color: #fff;
background-color: #61122f; 
font-family: fantasy; }

/**Header**/
#header-navbar{
	background-color:orange;
	border-radius: 0;
	border: 0;
	
}
/** Header Logo**/
#duallogo{
	background:url(/images/AmadisHHduallogo.png) no-repeat;
	background-size: 100%;
	height:150px;
    width: 150px;
	margin: 00px 0px 0px 0px;
	border: 1px solid black;
    
} 
.navbar-brand {
	padding-top: 20px;
	margin-right: 0;

}

.navbar-brand h1 { /* Restaurant Name*/
 font-family: 'Arial', sans-serif;
 color: #557c3e;
 font-size: 1em;
 text-transform: uppercase;
 font-weight: bold;
 text-shadow: 1px 1px 1px #222;
 margin-top: 0;
 margin-bottom: 0;
 line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand p{ /* Permaculture logo*/ 
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;

}

.navbar-brand p span {
	vertical-align: middle;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #951C49;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}
#phone{
	margin-top: 5px;

}
#phone a{
	text-align: right;
	padding-bottom: 0;
}
#phone div{
	color: #557c3e
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .dropdown-item{
	border: 1px solid #61122f;

}

.navbar-header button.navbar-toggle{
	claer:both;
}